.mat-sort-header-container {
  align-items: center;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 400px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
}

.mat-cell{
    align-items:center;
}

